编辑

<form name="courtEditForm" action="$!homeServer.getURI("court/doUpdate.htm")" method="post">
  <table class="table">
  #springBind("courtEditForm.id")
  <input type="hidden" name="${status.expression}" value="$!status.value" />
                #springBind("courtEditForm.name")
          <tr>
              <td>球场名称</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("courtEditForm.address")
          <tr>
              <td>地址</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("courtEditForm.type")
          <tr>
              <td>类型</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("courtEditForm.openTime")
          <tr>
              <td>开放时间</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("courtEditForm.userId")
          <tr>
              <td>用户ID</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("courtEditForm.status")
          <tr>
              <td>是否开放</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("courtEditForm.courtDesc")
          <tr>
              <td>球场介绍</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("courtEditForm.square")
          <tr>
              <td>面积</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
      	  <tr>
	  <td colspan="2">
	  <input type="submit" class="btn" value="提交"/></td>
	  </tr>
  </table>
</form>