$!courtApply详情
  <table class="table">
                <tr>
              <td>用户ID</td>
              <td>
                  $!courtApplyDO.userId
              </td>
          </tr>

                <tr>
              <td>场地ID</td>
              <td>
                  $!courtApplyDO.courtId
              </td>
          </tr>

                <tr>
              <td>预定日期</td>
              <td>
                  $!courtApplyDO.bookingTime
              </td>
          </tr>

        </table>
