编辑

<form name="goodsEditForm" action="$!homeServer.getURI("goods/doUpdate.htm")" method="post">
  <table class="table">
  #springBind("goodsEditForm.id")
  <input type="hidden" name="${status.expression}" value="$!status.value" />
                #springBind("goodsEditForm.goodsName")
          <tr>
              <td>名称</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("goodsEditForm.goodsDesc")
          <tr>
              <td>描述</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("goodsEditForm.price")
          <tr>
              <td>价格</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("goodsEditForm.courtId")
          <tr>
              <td>所在场地</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
      	  <tr>
	  <td colspan="2">
	  <input type="submit" class="btn" value="提交"/></td>
	  </tr>
  </table>
</form>