新增

<form name="teamApplyForm" action="$!homeServer.getURI("teamApply/doCreate.htm")" method="post">
  <table class="table">
    #springBind("teamApplyForm.teamId")
    <tr>
        <td>球队ID</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("teamApplyForm.userId")
    <tr>
        <td>用户ID</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("teamApplyForm.status")
    <tr>
        <td>是否通过</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>

	  <tr>
	  <td colspan="2">
	  <input type="submit" class="btn" value="提交"/></td>
	  </tr>
  </table>
</form>