<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <bean id="userSerivce" class="com.foodoon.well.biz.service.impl.UserServiceImpl"></bean>
    <bean id="teamSerivce" class="com.foodoon.well.biz.service.impl.TeamServiceImpl"></bean>
    <!--
    <bean id="challengeSerivce" class="com.foodoon.well.biz.service.impl.ChallengeServiceImpl"></bean>
    <bean id="courtSerivce" class="com.foodoon.well.biz.service.impl.CourtServiceImpl"></bean>
    <bean id="goodsSerivce" class="com.foodoon.well.biz.service.impl.GoodsServiceImpl"></bean>

    -->
</beans>