编辑

<form name="teamRecruitEditForm" action="$!homeServer.getURI("teamRecruit/doUpdate.htm")" method="post">
  <table class="table">
  #springBind("teamRecruitEditForm.id")
  <input type="hidden" name="${status.expression}" value="$!status.value" />
                #springBind("teamRecruitEditForm.userId")
          <tr>
              <td>用户ID</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
                #springBind("teamRecruitEditForm.recruitDesc")
          <tr>
              <td>招募宣言</td>
              <td>
                  <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
                  #foreach($error in $status.errorMessages) <b>$error</b>  #end
              </td>
          </tr>
      	  <tr>
	  <td colspan="2">
	  <input type="submit" class="btn" value="提交"/></td>
	  </tr>
  </table>
</form>