<a  class="btn btn-default"  href="$!homeServer.getURI("teamRecruit/create.htm")" >新建</a>

<table  class="table">
    <thead>
 <tr>
              <th>用户ID</th>
              <th>招募宣言</th>
          <th>操作</th>
 </tr>
    </thead>
#foreach($f in $teamRecruitDOList)
  <tr>
               <td> $!f.userId</td>
               <td> $!f.recruitDesc</td>
          <td><a href="$!homeServer.getURI("teamRecruit/edit.htm").addQueryData('id',"$!f.id")" >编辑</a></td>
    <td><a href="$!homeServer.getURI("teamRecruit/detail.htm").addQueryData('id',"$!f.id")" >查看详情</a></td>
      <td><a href="$!homeServer.getURI("teamRecruit/doDelete.htm").addQueryData('id',"$!f.id")" onclick="return confirm('确定删除吗?')">删除</a></td>
 </tr>
#end
</table>

$tile.load('home/common/page.vm').param('query',$query).param('path','teamRecruit/list.htm')