<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodoon.well.dao.ChallengeDOMapper">
  <resultMap id="BaseResultMap" type="com.foodoon.well.dao.domain.ChallengeDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="team_id" jdbcType="INTEGER" property="teamId" />
    <result column="court_id" jdbcType="INTEGER" property="courtId" />
    <result column="challenge_time" jdbcType="DATE" property="challengeTime" />
    <result column="challenge_desc" jdbcType="VARCHAR" property="challengeDesc" />
    <result column="challenge_result" jdbcType="VARCHAR" property="challengeResult" />
    <result column="goal_count" jdbcType="INTEGER" property="goalCount" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, team_id, court_id, challenge_time, challenge_desc, challenge_result, goal_count, 
    status, is_deleted, gmt_modify, gmt_create
  </sql>
  <select id="selectByExample" parameterType="com.foodoon.well.dao.domain.ChallengeDOCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from well_challenge
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="startRow &gt;= 0">
      limit ${startRow} , ${pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from well_challenge
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from well_challenge
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.foodoon.well.dao.domain.ChallengeDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into well_challenge (team_id, court_id, challenge_time, 
      challenge_desc, challenge_result, goal_count, 
      status, is_deleted, gmt_modify, 
      gmt_create)
    values (#{teamId,jdbcType=INTEGER}, #{courtId,jdbcType=INTEGER}, #{challengeTime,jdbcType=DATE}, 
      #{challengeDesc,jdbcType=VARCHAR}, #{challengeResult,jdbcType=VARCHAR}, #{goalCount,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{isDeleted,jdbcType=INTEGER}, #{gmtModify,jdbcType=TIMESTAMP}, 
      #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.foodoon.well.dao.domain.ChallengeDO">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into well_challenge
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="teamId != null">
        team_id,
      </if>
      <if test="courtId != null">
        court_id,
      </if>
      <if test="challengeTime != null">
        challenge_time,
      </if>
      <if test="challengeDesc != null">
        challenge_desc,
      </if>
      <if test="challengeResult != null">
        challenge_result,
      </if>
      <if test="goalCount != null">
        goal_count,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="gmtModify != null">
        gmt_modify,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="teamId != null">
        #{teamId,jdbcType=INTEGER},
      </if>
      <if test="courtId != null">
        #{courtId,jdbcType=INTEGER},
      </if>
      <if test="challengeTime != null">
        #{challengeTime,jdbcType=DATE},
      </if>
      <if test="challengeDesc != null">
        #{challengeDesc,jdbcType=VARCHAR},
      </if>
      <if test="challengeResult != null">
        #{challengeResult,jdbcType=VARCHAR},
      </if>
      <if test="goalCount != null">
        #{goalCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="gmtModify != null">
        #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.foodoon.well.dao.domain.ChallengeDOCriteria" resultType="java.lang.Integer">
    select count(*) from well_challenge
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.foodoon.well.dao.domain.ChallengeDO">
    update well_challenge
    <set>
      <if test="teamId != null">
        team_id = #{teamId,jdbcType=INTEGER},
      </if>
      <if test="courtId != null">
        court_id = #{courtId,jdbcType=INTEGER},
      </if>
      <if test="challengeTime != null">
        challenge_time = #{challengeTime,jdbcType=DATE},
      </if>
      <if test="challengeDesc != null">
        challenge_desc = #{challengeDesc,jdbcType=VARCHAR},
      </if>
      <if test="challengeResult != null">
        challenge_result = #{challengeResult,jdbcType=VARCHAR},
      </if>
      <if test="goalCount != null">
        goal_count = #{goalCount,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="gmtModify != null">
        gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.foodoon.well.dao.domain.ChallengeDO">
    update well_challenge
    set team_id = #{teamId,jdbcType=INTEGER},
      court_id = #{courtId,jdbcType=INTEGER},
      challenge_time = #{challengeTime,jdbcType=DATE},
      challenge_desc = #{challengeDesc,jdbcType=VARCHAR},
      challenge_result = #{challengeResult,jdbcType=VARCHAR},
      goal_count = #{goalCount,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>