新增

<form name="challengeAcceptForm" action="$!homeServer.getURI("challengeAccept/doCreate.htm")" method="post">
  <table class="table">
    #springBind("challengeAcceptForm.challengeId")
    <tr>
        <td>约战ID</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("challengeAcceptForm.teamId")
    <tr>
        <td>球队ID</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("challengeAcceptForm.goalCount")
    <tr>
        <td>比赛进球数</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("challengeAcceptForm.challengeResult")
    <tr>
        <td>比赛结果</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("challengeAcceptForm.accept")
    <tr>
        <td>是否接受</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>

	  <tr>
	  <td colspan="2">
	  <input type="submit" class="btn" value="提交"/></td>
	  </tr>
  </table>
</form>