$!order详情
  <table class="table">
                <tr>
              <td>商品ID</td>
              <td>
                  $!orderDO.goodsId
              </td>
          </tr>

                <tr>
              <td>用户ID</td>
              <td>
                  $!orderDO.userId
              </td>
          </tr>

                <tr>
              <td>留言</td>
              <td>
                  $!orderDO.leaveMsg
              </td>
          </tr>

                <tr>
              <td>配送时间</td>
              <td>
                  $!orderDO.deliveryTime
              </td>
          </tr>

        </table>
