<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="$!homeServer.getURI("static/bootstrap-3.2.0-dist/css/bootstrap.min.css")">
    <link rel="stylesheet" href="$!homeServer.getURI("static/bootstrap-3.2.0-dist/css/bootstrap-responsive.css")">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    </style>
</head>
 <body>

 <div class="navbar navbar-inverse navbar-fixed-top">
     <div class="navbar-inner">
         <div class="container-fluid">
             <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
             </button>
             <a class="brand" href="#">同城约战</a>
             <div class="nav-collapse collapse">
                 <p class="navbar-text pull-right">
                     Logged in as <a href="#" class="navbar-link">Username</a>
                 </p>
                 <ul class="nav">
                     <li class="active"><a href="#">Home</a></li>
                     <li><a href="#about">About</a></li>
                     <li><a href="#contact">Contact</a></li>
                 </ul>
             </div><!--/.nav-collapse -->
         </div>
     </div>
 </div>

 <div class="container-fluid">
     <div class="row-fluid">
         <div class="span3">
             <div class="well sidebar-nav">
                 <ul class="nav nav-list">
                     <li class="nav-header">API测试</li>
                     <li><a href="$!homeServer.getURI("api/list.htm")">api列表</a></li>
                     <li class="nav-header">球员</li>
                     <li><a href="$!homeServer.getURI("court/list.htm")">球场信息</a></li>
                     <li><a href="$!homeServer.getURI("team/list.htm")">球队信息</a></li>
                     <li><a href="#">最近所有比赛</a></li>
                     <li><a href="#">商品，服务</a></li>
                     <li class="nav-header">队长</li>
                     <li><a href="$!homeServer.getURI("challenge/list.htm")">约战信息</a></li>
                     <li><a href="$!homeServer.getURI("team/list.htm")">球队信息</a></li>
                     <li><a href="$!homeServer.getURI("teamApply/list.htm")">球队申请审核</a></li>
                     <li class="nav-header">老板</li>
                     <li><a href="$!homeServer.getURI("court/list.htm")">发布场地信息</a></li>
                     <li><a href="$!homeServer.getURI("goods/list.htm")">发布商品服务信息</a></li>
                     <li><a href="$!homeServer.getURI("courtApply/list.htm")">场地申请审核</a></li>
                     <li class="nav-header">个人信息</li>
                     <li><a href="$!homeServer.getURI("user/list.htm")">个人信息维护</a></li>
                 </ul>
             </div><!--/.well -->
         </div><!--/span-->
         <div class="span9">
             <div class="row-fluid">
             $screen_content
                 </div>
         </div><!--/span-->
     </div><!--/row-->

     <hr>

     <footer>
         <p>&copy; Company 2014</p>
     </footer>

 </div><!--/.fluid-container-->


 </body>
<script src="$!homeServer.getURI("static/js/jquery-1.11.1.min.js")"></script>
<script src="$!homeServer.getURI("static/bootstrap-3.2.0-dist/js/bootstrap.min.js")"></script>


</html>