新增

<form name="challengeMsgForm" action="$!homeServer.getURI("challengeMsg/doCreate.htm")" method="post">
  <table class="table">
    #springBind("challengeMsgForm.challengeId")
    <tr>
        <td>约战ID</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("challengeMsgForm.msg")
    <tr>
        <td>评论内容</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>
    #springBind("challengeMsgForm.userId")
    <tr>
        <td>用户ID</td>
        <td>
            <input class="form-control" type="text" name="${status.expression}" value="$!status.value" />
            #foreach($error in $status.errorMessages) <b>$error</b>  #end
        </td>
    </tr>

	  <tr>
	  <td colspan="2">
	  <input type="submit" class="btn" value="提交"/></td>
	  </tr>
  </table>
</form>