<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.foodoon.well.web.common.AppAnnotationBeanPostProcessor">
        <property name="appServiceFactory" ref="appServiceFactory"></property>
    </bean>
    <bean id="appServiceFactory" class="com.foodoon.well.web.common.AppServiceFactory"></bean>
</beans>